@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    z-index: 5;
    backdrop-filter: blur(10px);
    margin: 0 10%;
}

.title {
    font-size: 48px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    color: var(--color-primary);
}

.title:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--color-primary);
}

.menu {
    display: flex;
}

.menuBtn {
    display: none;
}

.menuItems {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menuItems a:hover {
    text-shadow: 0 0 25px var(--color-light);
}

.menuItems a {
    font-size: 24px;
    color: var(--color-primary);
    text-decoration: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 13px;
        border-radius: 10px;
        background: rgb(0, 51, 48);
        background: linear-gradient(
            0deg,
            rgba(0, 51, 48, 0.2) 0%,
            rgba(0, 51, 48, 1) 100%
        );
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(250, 248, 248, 0.25);
        text-shadow: 0 0 25px var(--color-light);

    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
    
}